
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="https://via.placeholder.com/150" alt="Foto de Perfil">
        <h1 class="display-4">Eitán Fridman</h1>
        <p class="lead">Desarrollador Web y Artista Digital</p>
    </div>
</div>

<section id="about" class="container">
    <h2 class="section-title">Sobre Mí</h2>
    <p>@ViewBag.SobreMi</p>
</section>